.header {
    background-color: blue;
    &-nav {
        background-color: aqua;
        display: flex;
        align-items: center;
        &-logo {
            background-color: bisque;
            &__p {
                background-color: blueviolet;
            }
            &__p--negrita {
                background-color: coral;
            }
        }
        &-search {
            &__h1 {}
            &__form {}
            &__fieldset {}
            &__legend {}
            &__label {}
            &__input {}
            &__button {}
        }
        &-pestanas {
            &__ul {}
            &__li {}
            &__link {}
            &__figure {}
            &__img {
                background-color: blue;
            }
        }
        &-perfil {
            &-notificacion {
                &__link {}
            }
            &__figure {
                &__img {}
            }
            &-menu {
                &__link {}
            }
        }
    }
}