    // SECTION 
    // Variables
    $colorAzul: #4366A6;
    $colorGris: #515151;
    $colorGrisLinea: #E0E1E4;
    $colorGrisScroll:#D8D8D8;
    $colorBlanco: #FFFFFF;
    $colorAzulNav:#E3E8F2;
    $colorAzulLetras:#4479AF;
    $colorCheck: #A8B061;
    $colorExclamacion: #F5A623;
    $colorButton: #E8EEB3;
    // Estilos generales para las secciones
    .main__section {
        &--center {
            width: 600px
        }
        width:290px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px;
    }
    
    // Estilo para los h1 de cada sección
    .main__h1 {}
    
    // Cabecera de las secciones
    .main-head {
        background-color: $colorAzul;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 7px 11px;
        height: 55px;
        &__p {
            font-size: 13px;
            text-transform: uppercase;
            color: $colorBlanco;
            margin: 18px 0px;
        }
        &__icon {
            color: $colorBlanco;
            font-size: 15px;
            margin: 10px 15px;
            &--right {}
        }
        &__div {
            display: flex;
            align-items: center;
        }
    }
    
    // Cuerpo de las secciones
    .main-main {
        display: flex;
        flex-direction: row;
        background-color: $colorBlanco;
        &--border {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &__ul {
            padding: 18px 18px 5px 18px;
            display: flex;
            flex-direction: column;
            border-bottom: solid 1px $colorGrisLinea;
            width: 100%;
            &--padding {
                padding-right: 5px;
                border-bottom: none
            }
        }
        &-ul {
            &-li {
                &__li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $colorGris;
                    font-size: 13px;
                    padding-top: 5px;
                }
                &__figure {
                    border-radius: 100%;
                    border: 2px solid $colorBlanco;
                    width: 25px;
                    height: 25px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    &--0 {
                        background-image: url(../../../assets/images/v3_0332798.jpg);
                    }
                }
                &__p {
                    font-size: 11px;
                    &--enunciado {
                        color: $colorAzulLetras;
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
            &__li {
                border-bottom: solid 1px $colorGrisLinea;
                margin-bottom: 10px;
                padding-bottom: 10px;
                &--sin {
                    border-bottom: none;
                }
            }
        }
        &__li {
            display: flex;
            flex-direction: row;
            padding: 8px;
            border-bottom: solid 1px $colorGrisLinea;
            &--sinlinea {
                border-bottom: none;
            }
            &--center {
                align-items: center;
                border-bottom: solid 1px $colorGrisLinea;
            }
            &--center-botton {}
            &--noti {
                display: block
            }
        }
        &__p {
            text-transform: uppercase;
            color: $colorAzul;
            font-size: 12px;
            font-weight: 600;
        }
        &-hora {
            background-color: $colorAzul;
            border-radius: 100%;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            &__p {
                color: $colorBlanco;
            }
        }
        &-apunte {
            padding: 7px 10px;
            &__link {}
            &__p {
                color: $colorAzul;
                text-decoration: underline;
                &--hora {
                    color: $colorGris;
                    font-size: 13px;
                    padding-top: 5px;
                }
            }
        }
        &-hora {
            &__p {}
        }
        &-li {
            &__figure {
                border-radius: 100%;
                border: 2px solid $colorBlanco;
                width: 40px;
                height: 40px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 2px;
                &--1 {
                    background-image: url(../../../assets/images/v3_0407433.jpg);
                }
                &--2 {
                    background-image: url(../../../assets/images/v3_0454666.jpg);
                }
                &--3 {
                    background-image: url(../../../assets/images/v3_0510548.jpg);
                }
                &--4 {
                    background-image: url(../../../assets/images/v3_0622120.jpg);
                }
                &--5 {
                    background-image: url(../../../assets/images/v3_0685027.jpg);
                }
                &--6 {
                    background-image: url(../../../assets/images/v3_0687854.jpg);
                }
            }
        }
        &__scroll {
            background-color: $colorGrisScroll;
            width: 12px;
            height: 183px;
            margin: 0 5px;
            border-radius: 5px;
            margin-top: 50px;
        }
        &__icon {
            align-self: flex-start;
            margin-left: 5px;
        }
        &__div {
            margin-left: 8px;
        }
        &-div {
            display: flex;
            justify-content: space-between;
            &__p {
                &--enunciado {
                    color: $colorAzul;
                    text-decoration: underline;
                    font-weight: bold;
                }
                &--bold {
                    width: 75%;
                    font-weight: bold;
                    color: $colorGris;
                }
                &--noti {
                    margin: 4px 0;
                }
                &--small {
                    margin-left: 5px;
                    font-size: 12px;
                }
                &--button {
                    background-color: $colorButton;
                    padding: 5px 10px;
                    margin-left: 5px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    font-size: 12px;
                    font-weight: bold;
                }
                &--button-num {
                    padding: 5px 10px;
                    margin-left: 5px;
                    border: solid 2px $colorButton;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            &__p2 {
                margin: 4px 0;
            }
            &__icon {
                color: $colorCheck;
                font-size: 20px;
            }
            &__figure {
                color: $colorExclamacion;
                font-size: 10px;
            }
            &__div {
                &--exc {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                }
            }
            &--proy {
                flex-direction: column;
            }
            &-div {
                display: flex;
            }
        }
    }
    
    // Navegador de las secciones
    .main-nav {
        &__ul {
            background-color: $colorAzulNav;
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__li {
            justify-items: flex-end;
            padding: 0 12px;
        }
        &__p {
            color: $colorAzul;
            &--selec {
                font-weight: 600;
            }
        }
    }
    
    // Pie de las secciones
    .main-footer {
        background-color: $colorBlanco;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__p {
            padding: 14px 0;
            color: $colorAzul;
        }
        &__link {}
        &__icon {
            margin-left: 2px;
        }
    }