// MAIN
.main {
    background-image: url(../../../assets/images/sidebar-wall.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    &__trans {
        background-image: linear-gradient(to left, hsla(66, 96, 29, 0.2), hsla(210, 44, 47, 0.2) 65%);
        width: 100%;
        &--degra {
            background-image: linear-gradient(to top, hsla(220, 15, 96, 1), rgba(255, 0, 0, 0) 45%);
            width: 100%;
            padding-top: 35px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    &__col {
        display: flex;
        flex-direction: column;
        padding: 10px 3px;
    }
}

// Estilos para tamaño 1024px
@media (max-width: 1024px) {
    .main {
        &__trans {
            &--degra {
                padding-top: 27px;
            }
        }
    }
}