// SECTION EVENTOS
.main__section {
    &--center {
        width: 600px
    }
    width:290px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px;
}

.main__h1 {}

.main-head {
    background-color: #4366A6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 11px;
    height: 55px;
    &__p {
        font-size: 13px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 18px 0px;
    }
    &__icon {
        color: #FFFFFF;
        font-size: 15px;
        margin: 10px 15px;
        &--right {
            justify-self: flex-end;
        }
    }
}

.main-main {
    background-color: #FFFFFF;
    &__ul {
        padding: 18px 18px 5px 18px;
        display: flex;
        flex-direction: column;
        border-bottom: solid 1px #515151
    }
    &__li {
        display: flex;
        flex-direction: row;
        padding: 8px;
    }
    &__p {
        text-transform: uppercase;
        color: #4366A6;
        font-size: 12px;
        font-weight: 600;
    }
    &-hora {
        background-color: #4366A6;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__p {
            color: #FFFFFF;
        }
    }
    &-apunte {
        padding: 7px 10px;
        &__link {}
        &__p {
            color: #4366A6;
            text-decoration: underline;
            &--hora {
                color: #515151;
                font-size: 13px;
                padding-top: 5px;
            }
        }
    }
    &-hora {
        &__p {}
    }
}

.main-footer {
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__p {
        padding: 14px 0;
        color: #4366A6;
    }
    &__link {}
    &__icon {}
}