<!DOCTYPE html>
<html lang="es">
<!-- HEAD  -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/front-modules.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script type="text/javascript" src="../libs/dependencies.js"></script>
    <script type="module" src="../js/front-dev.js"></script>
    <title>Práctica SKMO</title>
</head>
<!-- BODY  -->

<body class="body">
    <!-- HEADER  -->
    <header class="header">
        <h1 class="header__h1 hide-accessible">Header</h1>
        <!-- LOGO  -->
        <div class="header-logo">
            <a href="#" class="header-logo__link">
                <p class="header-logo__p">everis</p>
                <p class="header-logo__p header-logo__p--negrita">knowler</p>
            </a>
        </div>
        <!-- SEARCH  -->
        <div class="header-search">
            <h1 class="header-search__h1 hide-accessible">Buscador</h1>
            <form class="header-search__form">
                <fieldset class="header-search__fielset">
                    <legend class="header-search__legend"></legend>
                    <label class="heade-search__label" for="input-search"></label>
                    <input class="header-search__input" id="input-search" aria-label="Search" placeholder="proyecto skm" type="search">
                </fieldset>
                <button type="submit" class="header-search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <!-- NAV  -->
        <nav class="header-nav">
            <ul class="header-nav__ul">
                <li class="header-nav__li"><a class="header-nav__link" href="#"><i class="fa-solid fa-house header-nav__icon"></i><p class="header-nav__p">Inicio</p></a></li>
                <li class="header-nav__li"><a class="header-nav__link" href="#"><i class="fa-solid fa-table-cells header-nav__icon"></i><p class="header-nav__p">Aplicaciones</p></a></li>
                <li class="header-nav__li"><a class="header-nav__link" href="#"><i class="fa-solid fa-globe header-nav__icon"></i><p class="header-nav__p">Comunidades</p></a></li>
                <li class="header-nav__li">
                    <a class="header-nav__link" href="#">
                        <figure class="header-nav__figure">
                            <img class="header-nav__img" alt="everis" src="../../assets/images/everis-570x570.png">
                        </figure>
                        <p class="header-nav__p">everPedia</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- PERFIL  -->
        <div class="header-perfil">
            <div class="header-perfil-notificacion">
                <a class="header-perfil-notificacion__link" href="#"><i class="fa-solid fa-bell"></i></a>
            </div>
            <figure class="header-perfil__figure">
            </figure>
            <div class="header-perfil-menu">
                <a class="header-perfil__link" href="#"><i class="fa-solid fa-caret-down"></i></a>
            </div>
        </div>
    </header>
    <!-- MAIN  -->
    <main class="main">
        <div class="main__img">
            <!-- SECTION EVENTOS  -->
            <section class="main__section">
                <h1 class="main__h1 hide-accessible">Eventos</h1>
                <!-- CABEZA  -->
                <div class="main-head">
                    <i class="fa-solid fa-calendar-days main-head__icon"></i>
                    <p class="main-head__p">Eventos</p>
                    <a href="" class=""><i class="fa-solid fa-ellipsis-vertical main-head__icon main-head__icon--right"></i></a>
                </div>
                <!-- CUERPO  -->
                <div class="main-main">
                    <ul class="main-main__ul">
                        <li class="main-main__li">
                            <p class="main-main__p">Hoy</p>
                        </li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">11:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM Wireframes checkpoint</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">11:00 a 12:00 - Sala 446</p>
                            </div>
                        </li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">13:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM chill</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">13:00 a 13:40 - Sala 446</p>
                            </div>
                        </li>
                        <li class="main-main__li">
                            <p class="main-main__p">Mañana</p>
                        </li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">11:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM Wireframes check</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">11:00 a 12:00 - Sala 446</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- PIE  -->
                <div class="main-footer">
                    <p class="main-footer__p">Ver más</p>
                    <a class="main-footer__link" href="#"><i class="fa-solid fa-caret-down main-footer__icon"></i></a>
                </div>
            </section>
            <!-- SECTION MAILS  -->
            <section class="main__section main__section--center">
                <h1 class="main__h1 hide-accessible">Mails</h1>
                <!-- CABEZA  -->
                <div class="main-head">
                    <i class="fa-solid fa-envelope main-head__icon"></i>
                    <p class="main-head__p">Mails</p>
                    <a href="" class=""><i class="fa-solid fa-ellipsis-vertical main-head__icon main-head__icon--right"></i></a>
                </div>

                <!-- CUERPO  -->
                <div class="main-main">
                    <ul class="main-main__ul">
                        <li class="main-main-ul__li">
                            <ul class="main-main-ul-li__ul">
                                <li class="main-main-ul-li__li">20/06/2017 - 13:00</li>
                                <li class="main-main-ul-li__li">
                                    <figure class="main-main-ul-li__figure">
                                    </figure>
                                    <p class="main-main-ul-li__p">Francisco Javier Fernández</p>
                                </li>
                                <li class="main-main-ul-li__li">
                                    <p class="main-main-ul-li__p main-main-ul-li__p--enunciado">Nuevas versiones de las pantallas</p>
                                </li>
                                <li class="main-main-ul-li__li">
                                    <p class="main-main-ul-li__p">Hola equipo, aquí tenéis las actualizaciones de las pantallas que comentamos el otro día. Pero si tenéis cualquier duda me podeis escribir por mail o me llamáis a mi móvil [ANCHO MÁX 568PX]...
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="main-main-ul__li">
                            <ul class="main-main-ul-li__ul">
                                <li class="main-main-ul-li__li">20/06/2017 - 13:00</li>
                                <li class="main-main-ul-li__li">
                                    <figure class="main-main-ul-li__figure">
                                    </figure>
                                    <p class="main-main-ul-li__p">Francisco Javier Fernández</p>
                                </li>
                                <li class="main-main-ul-li__li">
                                    <p class="main-main-ul-li__p main-main-ul-li__p--enunciado">Nuevos datos password (Invision/Zeplin...</p>
                                </li>
                                <li class="main-main-ul-li__li">
                                    <p class="main-main-ul-li__p">Hola equipo, aquí van las actualizaciones de las pantallas que comentamos el día de la reunión la semana pasada. Si tenéis cualquier duda me escribís un correo os respondo lo antes pos...
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="main-main-ul__li">
                            <ul class="main-main-ul-li__ul">
                                <li class="main-main-ul-li__li">20/06/2017 - 13:00</li>
                                <li class="main-main-ul-li__li">
                                    <figure class="main-main-ul-li__figure">
                                    </figure>
                                    <p class="main-main-ul-li__p">Francisco Javier Fernández</p>
                                </li>
                                <li class="main-main-ul-li__li">
                                    <p class="main-main-ul-li__p main-main-ul-li__p--enunciado">Nuevas versiones de las pantallas</p>
                                </li>
                                <li class="main-main-ul-li__li">
                                    <p class="main-main-ul-li__p">Hola equipo, aquí van las actualizaciones de las pantallas que comentamos el día de la reunión la semana pasada. Si tenéis cualquier duda me escribís un correo os respondo lo antes pos...
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- PIE  -->
                <div class="main-footer">
                    <p class="main-footer__p">Ver más</p>
                    <a class="main-footer__link" href="#"><i class="fa-solid fa-caret-down main-footer__icon"></i></a>
                </div>


            </section>
            <!-- SECTION MIS CONTACTOS  -->
            <section class="main__section">
                <h1 class="main__h1 hide-accessible">Contactos</h1>
                <!-- CABEZA  -->
                <div class="main-head">
                    <i class="fa-solid fa-users-line main-head__icon"></i>
                    <p class="main-head__p">Mis contactos</p>
                    <a href="" class=""><i class="fa-solid fa-ellipsis-vertical main-head__icon main-head__icon--right"></i></a>
                </div>


                <!-- PESTAÑAS  -->
                <div class="main-nav">

                </div>
                <!-- CUERPO  -->
                <div class="main-main">
                    <ul class="main-main__ul">
                        <li class="main-main__li">
                            <p class="main-main__p"></p>Hoy</li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">11:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM Wireframes checkpoint</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">11:00 a 12:00 - Sala 446</p>
                            </div>
                        </li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">13:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM chill</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">13:00 a 13:40 - Sala 446</p>
                            </div>
                        </li>
                        <li class="main-main__li">
                            <p class="main-main__p"></p>Mañana</li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">11:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM Wireframes check</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">11:00 a 12:00 - Sala 446</p>
                            </div>
                        </li>
                    </ul>
                </div>


            </section>
            <!-- SECTION NOTIFICACIONES  -->
            <section class="main__section">
                <h1 class="main__h1 hide-accessible">Notificaciones</h1>
                <!-- CABEZA  -->
                <div class="main-head">
                    <i class="fa-solid fa-bell main-head__icon"></i>
                    <p class="main-head__p">Notificaciones</p>
                    <a href="" class=""><i class="fa-solid fa-ellipsis-vertical main-head__icon main-head__icon--right"></i></a>
                </div>


                <!-- CUERPO  -->
                <div class="main-main">
                    <ul class="main-main__ul">
                        <li class="main-main__li">
                            <p class="main-main__p"></p>Hoy</li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">11:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM Wireframes checkpoint</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">11:00 a 12:00 - Sala 446</p>
                            </div>
                        </li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">13:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM chill</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">13:00 a 13:40 - Sala 446</p>
                            </div>
                        </li>
                        <li class="main-main__li">
                            <p class="main-main__p"></p>Mañana</li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">11:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM Wireframes check</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">11:00 a 12:00 - Sala 446</p>
                            </div>
                        </li>
                    </ul>
                </div>


                <!-- PIE  -->
                <div class="main-footer">
                    <p class="main-footer__p">Ver más</p>
                    <a class="main-footer__link" href="#"><i class="fa-solid fa-caret-down main-footer__icon"></i></a>
                </div>


            </section>
            <!-- SECTION PROYECTOS  -->
            <section class="main__section main__section--center">
                <h1 class="main__h1 hide-accessible">Proyectos</h1>
                <!-- CABEZA  -->
                <div class="main-head">
                    <i class="fa-solid fa-folder-open main-head__icon"></i>
                    <p class="main-head__p">Proyectos</p>
                    <a href="" class=""><i class="fa-solid fa-ellipsis-vertical main-head__icon main-head__icon--right"></i></a>
                </div>


                <!-- PESTAÑAS  -->
                <div class="main-nav">

                </div>
                <!-- CUERPO  -->
                <div class="main-main">
                    <ul class="main-main__ul">
                        <li class="main-main__li">
                            <p class="main-main__p"></p>Hoy</li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">11:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM Wireframes checkpoint</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">11:00 a 12:00 - Sala 446</p>
                            </div>
                        </li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">13:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM chill</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">13:00 a 13:40 - Sala 446</p>
                            </div>
                        </li>
                        <li class="main-main__li">
                            <p class="main-main__p"></p>Mañana</li>
                        <li class="main-main__li">
                            <div class="main-main-hora">
                                <p class="main-main-hora__p">11:00</p>
                            </div>
                            <div class="main-main-apunte">
                                <a href="#" class="main-main-apunte__link">
                                    <p class="main-main-apunte__p">SKM Wireframes check</p>
                                </a>
                                <p class="main-main-apunte__p main-main-apunte__p--hora">11:00 a 12:00 - Sala 446</p>
                            </div>
                        </li>
                    </ul>
                </div>


                <!-- PIE  -->
                <div class="main-footer">
                    <p class="main-footer__p">Ver más</p>
                    <a class="main-footer__link" href="#"><i class="fa-solid fa-caret-down main-footer__icon"></i></a>
                </div>


            </section>
        </div>
    </main>
</body>

</html>