<!DOCTYPE html>
<html lang="es">
<!-- HEAD  -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/front-modules.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script type="text/javascript" src="../libs/dependencies.js"></script>
    <script type="module" src="../js/front-dev.js"></script>
    <title>Práctica SKMO</title>
</head>
<!-- BODY  -->

<body class="body">
    <!-- HEADER  -->
    <header class="header">
        <h1 class="header__h1 hide-accessible">Header</h1>
        <!-- LOGO  -->
        <div class="header-logo">
            <a href="#" class="header-logo__link">
                <p class="header-logo__p">everis</p>
                <p class="header-logo__p header-logo__p--negrita">knowler</p>
            </a>
        </div>
        <!-- SEARCH  -->
        <div class="header-search">
            <h1 class="header-search__h1 hide-accessible">Buscador</h1>
            <form class="header-search__form">
                <fieldset class="header-search__fielset">
                    <legend class="header-search__legend"></legend>
                    <label class="heade-search__label" for="input-search"></label>
                    <input class="header-search__input" id="input-search" aria-label="Search" placeholder="proyecto skm" type="search">
                </fieldset>
                <button type="submit" class="header-search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <!-- NAV  -->
        <nav class="header-nav">
            <ul class="header-nav__ul">
                <li class="header-nav__li"><a class="header-nav__link" href="#"><i class="fa-solid fa-house header-nav__icon"></i><p class="header-nav__p">Inicio</p></a></li>
                <li class="header-nav__li"><a class="header-nav__link" href="#"><i class="fa-solid fa-table-cells header-nav__icon"></i><p class="header-nav__p">Aplicaciones</p></a></li>
                <li class="header-nav__li"><a class="header-nav__link" href="#"><i class="fa-solid fa-globe header-nav__icon"></i><p class="header-nav__p">Comunidades</p></a></li>
                <li class="header-nav__li">
                    <a class="header-nav__link" href="#">
                        <figure class="header-nav__figure">
                            <img class="header-nav__img" alt="everis" src="../../assets/images/everis-570x570.png">
                        </figure>
                        <p class="header-nav__p">everPedia</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- PERFIL  -->
        <div class="header-perfil">
            <div class="header-perfil-notificacion">
                <a class="header-perfil-notificacion__link" href="#"><i class="fa-solid fa-bell"></i></a>
            </div>
            <figure class="header-perfil__figure">
            </figure>
            <div class="header-perfil-menu">
                <a class="header-perfil__link" href="#"><i class="fa-solid fa-caret-down"></i></a>
            </div>
        </div>
    </header>
    <!-- MAIN  -->
    <main class="">
        <!-- SECTION EVENTOS  -->
        <section class="">
            <h1 class="hide-accessible">Eventos</h1>
            <!-- CABEZA  -->
            <div class="">

            </div>
            <!-- CUERPO  -->
            <div class="">

            </div>
            <!-- PIE  -->
            <div class="">

            </div>
        </section>
        <!-- SECTION MAILS  -->
        <section class="">
            <h1 class="hide-accessible">Correos</h1>
            <!-- CABEZA  -->
            <div class="">

            </div>
            <!-- CUERPO  -->
            <div class="">

            </div>
            <!-- PIE  -->
            <div class="">

            </div>
        </section>
        <!-- SECTION MIS CONTACTOS  -->
        <section class="">
            <h1 class="hide-accessible">Contactos</h1>
            <!-- CABEZA  -->
            <div class="">

            </div>
            <!-- PESTAÑAS  -->
            <div class="">

            </div>
            <!-- CUERPO  -->
            <div class="">

            </div>
        </section>
        <!-- SECTION NOTIFICACIONES  -->
        <section class="">
            <h1 class="hide-accessible">Notificaciones</h1>
            <!-- CABEZA  -->
            <div class="">

            </div>
            <!-- CUERPO  -->
            <div class="">

            </div>
            <!-- PIE  -->
            <div class="">

            </div>
        </section>
        <!-- SECTION PROYECTOS  -->
        <section class="">
            <h1 class="hide-accessible">Proyectos</h1>
            <!-- CABEZA  -->
            <div class="">

            </div>
            <!-- PESTAÑAS  -->
            <div class="">

            </div>
            <!-- CUERPO  -->
            <div class="">

            </div>
            <!-- PIE  -->
            <div class="">

            </div>
        </section>
    </main>
</body>

</html>